body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: gray;
    height: 70px;
}

.come-in {
    margin-right: 400px;
    margin-top: 15px;
    color: white;
}

.name-user {
    margin-right: 0;
    margin-top: 15px;
    color: white;
}

header > h1 > a {
    color: white;
    margin-left: 100px;
    text-decoration: none;
}

.container {
    width: 70%;
    margin: auto;
}

.form {
    background-color: lightcyan;
    padding: 60px;
    max-width: 600px;
    margin: auto;
}

.mt-100 {
    margin-top: 100px;
}

.mt-50 {
    margin-top: 50px;
}

.input {
    display: block;
    margin: 10px;
    width: 100%;
    border: 0;
    height: 35px;
}

.submit {
    color: white;
    background-color: black;
    height: 35px;
    margin: 10px;
    width: 100%;
    border: 0;
}

.error-massage {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.success {
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.row {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.questionnaire {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 90%;
    margin: auto;
}

.questionnaire > img {
    margin-right: 30px
}

.come-back {
    background-color: black;
    color: white;
    height: 35px;
    width: 70px;
    padding: 5px 10px;
    margin: 30px 30px;
    text-decoration: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    max-width: 1250px;
    margin: auto;
}

.gallery > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 10px;
    margin-top: 10px;
    width: 611px;
    height: 711px;
    background-color: lightcyan;
}

.gallery > div > img {
    margin: auto;
}

.card {
    background: radial-gradient(ghostwhite, lightcyan);
    border-radius: 5px;
    width: 27%;
    height: 150px;
    margin-right: 7%;
    text-decoration: none;
    color: black;
}

.card:hover {
    background: radial-gradient(white, aquamarine);
}

.title {
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
}

table {
    margin-bottom: 100px;
}

.w-50 {
    width: 50px;
}

.table {
    width: 95%;
    margin: auto;
}

table > tbody > tr:nth-child(2n) {
    background: radial-gradient(ghostwhite, lightcyan);
}

td > a > img {
    max-height: 200px;
    border-radius: 60px;
}

td {
    padding: 7px;
}

.color {
    width: 60px;
    height: 60px;
    margin: auto;
}

.name {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.mt-0 {
    margin-top: 0;
}

.reset {
    background-color: black;
    width: 100%;
    height: 35px;
    margin: 10px;
}

a.reset {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.table-settings {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

.pagination > span {
    padding: 3px 5px;
    border-radius: 5px 3px;
    border: 1px solid black;
    margin-right: 2px;
    cursor: pointer;
}

.page-active {
    background-color: lightcyan;
}

.submit-filter {
    padding: 3px 5px;
    border-radius: 5px 3px;
    border: 1px solid black;
    margin-left: 2px;
    background-color: lightcyan;
}

td.no-data {
    padding-top: 50px;
    background: transparent;
    color: lightgray;
}

.none {
    display: none;
}

.next {
    background-color: black;
    color: white;
    height: 35px;
    padding: 5px 10px;
    margin-left: 420px;
    margin-top: 30px;
    width: 70px;
    border: 0;
    cursor: pointer;
}

.container-next-previous {
    display: flex;
    justify-content: space-between;
}

.container-next-previous > div {
    background-color: black;
    color: white;
    height: 35px;
    padding: 5px 10px;
    margin-top: 30px;
    width: 70px;
    border: 0;
    cursor: pointer;
}